* {
	font-family: "lato";
}

body {
	box-sizing: border-box;
}

main {
	width: 90%;
	margin: 0 auto;
}


header {
	text-align: center;
}

section {
	margin-bottom: 15px;
}

.input_barre {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	background-color: #E7E7E7;
	height: 69px;
	border-radius: 5px;
}

.input_barre_search {
	border: none;
	width: 100%;
	background-color: #E7E7E7;
	margin-left: 10px;

}

.input_barre_search ::placeholder {
	color: white;
}

.input_barre_search_btn {
	border: none !important;
}

/** BTN GROUP SEARCH */
.btn_search_group {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}

.btn_input {
	width: 170px;
	height: 69px;
	border-radius: 5px;
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0px 30px 0px 0px;

}

.btn_input input {
	width: 90px;
	height: 22px;
	border: none;
	color: #E7E7E7;
}

.btn_input input::placeholder {
	color: white;
}


.color_1 {
	background-color: #3282F7;
}

.color_2 {
	background-color: #68D9A4;
}

.color_3 {
	background-color: #ED6454;
}

.chevron-down {
	color: white;
}


#card_article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 20px;
    justify-content: space-between;
}



.card_style {
	height: 33em !important;
	width: 25rem;
	margin: 0;
	font-size: 15px;
	background-color: #E7E7E7 !important;
}

.card_style img {
	height: 20em !important;
	object-fit: cover;
}

.card_title {
	display: grid;
	grid-template-columns: 1fr 0.3fr;
	justify-content: flex-start;
	align-items: baseline;
	gap: 10px;
	height: 69px;
	flex: 0.1 1 auto !important;
	font-size: 20px;

}

.card_title h5 {
	height: 49px;
}

.card_title span {
	text-align: right;
	font-weight: bolder;
	white-space: nowrap;
}



.container_recette {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* height: 250px; */
	align-items: baseline;
	margin-right: 15px;
	font-size: 12px;
}

.container_recette li {
	list-style: none;
}

.container_recette ul {
	padding-left: 16px;
	white-space: nowrap;
    margin-right: 10px;

}





.paragraphe {
	font-family: "roboto";
	text-align: justify;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}
